html,* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
#outer {
  position: relative;
  width: 100%;
  height: 100%;
}
#container {
	border: 2px solid black;
  padding: 15px 25px;
  width: 100%;
  max-width: 25%;    
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
  background-color: #232f3e;
  color: white;
  border-radius: 2%;
}
input{
	padding: 5px 2px;
	width: 70%;
}